body{
    width: 20%;
}
.asteroid.big{
    color: blue;
}
.asteroid.b326,#b325{
    border-color: green;
    border-style: solid;
    border-width: 1px;
}
div{
    font-weight: bold;
}
p{
    background: yellow;
}